<p>This is ngForm</p>
<form (ngSubmit)="onSubmit(formSignIn)" #formSignIn="ngForm">
  <input placeholder="Email" ngModel #txtEmail="ngModel" name="username" required email />
  <p *ngIf="txtEmail.touched && txtEmail.errors?.required">
    Email is required
  </p>
  <p *ngIf="txtEmail.touched && txtEmail.errors?.email">
    Email is not valid
  </p>

  <br /><br />
  <input type="password" placeholder="Password" ngModel name="password" minlength="3" #txtPassword="ngModel"
    pattern="[1-9]*" />
  <br />
  <div ngModelGroup="subject">
    <label> NodeJS<input type="checkbox" [ngModel]="false" name="NodeJS" /></label>
    <label> Angular<input type="checkbox" [ngModel]="false" name="Angular" /></label>
    <label> ReactJS<input type="checkbox" [ngModel]="false" name="ReactJS" /></label>
  </div>
  <br />
  <button [disabled]="formSignIn.invalid">Submit</button>
</form>
<button (click)="postToExpress()">POST</button>
<p>{{ txtEmail.errors | json }}</p>
<p>{{ formSignIn.value | json }}</p>
<p>{{ txtPassword.errors | json }}</p>