<p>This is ng-Form</p>
<form (ngSubmit)="onSubmit(formSignIn)" #formSignIn="ngForm">
  <input
        placeholder="Email"
        ngModel
        #txtEmail="ngModel"
        name="email"
        required
        email
  />
  <p class="error" *ngIf="txtEmail.touched && txtEmail.errors?.required">
    Email is required
  </p>
  <p class="error" *ngIf="txtEmail.touched && txtEmail.errors?.email">
    Email is not valid
  </p>

  <br /><br />
  <input
        type="password"
        placeholder="Password"
        ngModel
        name="password"
        minlength="6"
        #txtPassword="ngModel"
        pattern="[a-z]*"
  />
  <br />
  <div ngModelGroup="subject">
    <label> NodeJS<input type="checkbox" [ngModel]="false" name="NodeJS" /></label>
    <label> Angular<input type="checkbox" [ngModel]="false" name="Angular" /></label>
    <label> ReactJS<input type="checkbox" [ngModel]="false" name="ReactJS" /></label>
  </div>
  <br />
  <button>Submit</button>
</form>
<p>{{ txtEmail.errors | json }}</p>
<p>{{ txtPassword.errors | json }}</p>
<p>{{ formSignIn.value | json }}</p>